# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Folders to ignore
helper_folder/
calvex_venv/
CalVEX2020_Codebook.xlsx
CalVEX2021_Codebook.xlsx
CalVEX2022_Codebook.xlsx
CalVEX2023_Codebook&SimpleFrequencies.xlsx
eda.ipynb
\[A164\] UCSD_Tulane_CalVEX Survey 2025_Final Data.dta
.DS_Store
ignore/supabase_data_+_shiny_deploy_2ba1634e.plan.md
ignore/dashboard_ux_and_responsiveness_d2419f93.plan.md
ignore/CalVEX 2025 Prepared.dta
